<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compte</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-rd9ujgYFTB8+Ju+QIn7P5APuLTrgeMM4M3So7ypp8Y3XQOMB3s5dhFTFzTmrRtJ4Nc0osfjK5tr3qbZ3uRTtAg==" crossorigin="anonymous" />

    <link href="/assests/syles-personnel/acc.css" rel="stylesheet">
    <link href="/assests/syles-personnel/footer.css" rel="stylesheet">
</head>
<body>
    <main>
        <h4>Bienvenue,<%= utilisateur.nom %></h4>
        <section class="text-center container">
         
                <div class="page-container clearfix" id="PageContainer">
        
                        <div class="main-content shop-page-account">
                            <div class="container">
                                <div class="container block-page-login" >
                                    <div id="primary"></div>
                                    <h1 class="page-title text-center">Compte</h1>
                                    <hr>
            
                                    <div class="row">
                                        <div class="col-lg-auto col-xs-12 col-sm-4 col-md-lg-3">
                                            <div class="wrapper_tabcontent customer">
                                                
            
                                                <a href="pannier">
                                                    <button>
                                                        <i class="fas fa-check-circle"></i>
                                                        Pannier
                                                    </button>
                                                </a>
            
                                                <a href="info">
                                                    <button>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        Voir les informations
                                                    </button>
                                                </a>
            
                                               
            
                                                
                                                 
                                                        <i class="fas fa-sign-out-alt"></i>
                                                        <form action="/deconnexion" method="post">
                                                            <button type="submit">Déconnexion</button>
                                                          </form>
                                                 
                                                </a>
                                            </div>
                                        </div>
            
                                        <div class="account-content col">
                                           <p class="title-customer">
                                            <p class="title-customer">
                                                <% if(utilisateur) { %>
                                                    "Compte" <span> <h4><%= utilisateur.nom %></h4></span>
                                                  <% } else { %>
                                                    "Compte" <span> <h4>Invité</h4></span>  <!-- Ou tout autre traitement souhaité pour le cas Guest -->
                                                  <% } %>
                                            </p>
                                            
            </p>
            </br> 
                                            <div class="order-history">
                                            <h4>Historique des commandes</h4>
                              <button id="makeOrderButton">
                <p class="none">
                    <a href="/" onclick="makeOrderClick()">
                        <i class="fas fa-shopping-cart"></i>  FAITES VOTRE PREMIÈRE COMMANDE
                    </a>
                </p>
            </button>
            <!-- Inclure Handlebars.js -->
           
            
            
            
            <!-- profile.hbs -->
            
            
            Vous n'avez encore passé aucune commande.</p> </div>
            <div class="account_details"> 
                                        <p>Détails du compte :</p>
            
                                            <form action="/update-account" method="post">
                        <label for="firstName">Prenom</label>
            <input type="text" id="firstName" name="firstName" value= " <%= utilisateur.nom %>"  readonly>
            
            <label for="lastName">Nom:</label>
            <input type="text" id="lastName" name="lastName" value=" <%= utilisateur.nom %>" readonly>
            
                       
            
                              <label for="EEmail">Email:</label>
                            <input type="EEmail" id="EEmail" name="EEmail" value="<%= utilisateur.email %>" >
            
                                                <label for="phone">Telephone:</label>
                                                <input type="tel" id="phone" name="phone"  required>
            
                                                <label for="zip">Zip:</label>
                                                <input type="text" id="zip" name="zip" required>
            
                                                <label for="Adress1">Address 1:</label>
                                                <input type="text" id="Adress1" name="Adress1" required>
            
                                                <label for="Adress2">Address 2:</label>
                                                <input type="text" id="Adress2" name="Adress2" required>
            
                                                <!-- Ajoutez un bouton de soumission si nécessaire -->
                                                
                                                <button type="submit">Mettre à jour le compte</button>
                                            <!-- Ajoutez cette section où vous souhaitez afficher le message dans votre fichier acc.html -->

  
            
                                            </form>
<!-- Ajoutez cette section où vous souhaitez afficher le message dans votre fichier acc.html -->
<div class="message-container">
    <% if (messages.error) { %>
      <script>
        alert("<%= messages.error[0] %>"); // Utilisez JavaScript pour afficher une alerte avec le message
      </script>
    <% } %>
  </div>
  
  
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
        
        
        
        
        
        
        </main>
        
          </section>
    </main>
    <%- include("footer.html") %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>
</html>