<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture</title>
</head>
<body>
    <div id="facture"></div>

    <script>
        // Récupérer les paramètres de requête contenant les données de la commande
        const urlParams = new URLSearchParams(window.location.search);
        const idCommande = urlParams.get('id_commande');
        const utilisateurId = urlParams.get('utilisateur_id');
        const quantite = urlParams.get('quantite');
        const titre = urlParams.get('titre');
        const prixParKilo = urlParams.get('prixParKilo');
        const prixTotal = urlParams.get('prix_total');
        const nomUtilisateur = urlParams.get('nomUtilisateur');
        const numeroUtilisateur = urlParams.get('numeroUtilisateur');
        const adresseUtilisateur = urlParams.get('adresseUtilisateur');
        const referenceCommande = urlParams.get('referenceCommande');
        const moyenPaiement = urlParams.get('moyenPaiement');
        const dateCommande = urlParams.get('dateCommande');
        const subtotal = urlParams.get('subtotal');
        const fraisLivraison = urlParams.get('frais_livraison');
        const total = urlParams.get('total');

        // Afficher les données de la commande dans la page Facture
        const factureHTML = `
            <h1>Facture</h1>
            <p>ID Commande : ${idCommande}</p>
            <p>ID Utilisateur : ${utilisateurId}</p>
            <p>Quantité : ${quantite}</p>
            <p>Titre : ${titre}</p>
            <p>Prix par Kilo : ${prixParKilo}</p>
            <p>Prix Total : ${prixTotal}</p>
            <p>Nom de l'utilisateur : ${nomUtilisateur}</p>
            <p>Numéro de téléphone : ${numeroUtilisateur}</p>
            <p>Adresse : ${adresseUtilisateur}</p>
            <p>Référence de commande : ${referenceCommande}</p>
            <p>Moyen de paiement : ${moyenPaiement}</p>
            <p>Date de commande : ${dateCommande}</p>
            <p>Sous-total : ${subtotal}</p>
            <p>Frais de livraison : ${fraisLivraison}</p>
            <p>Total : ${total}</p>
            <!-- Ajoutez d'autres détails de la commande ici selon votre besoin -->
        `;
        document.getElementById('facture').innerHTML = factureHTML;
    </script>
</body>
</html>
