

      <p class="float-end mb-1">
        <a href="#">Haut de la page</a>
      </p>
    
  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="./index.html" class="logo">   قفة <span class="span"></span></a>

          <p class="footer-text">
            قفة propose une expérience d'achat en ligne simple et pratique pour fruits et légumes
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-skype"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">القفة</p>
          </li>

          <li>
            <a href="#" class="footer-link">Qui sommes-nous?</a>
          </li>

          <li>
            <a href="#" class="footer-link"> Menu de la semaine </a>
          </li>

          <li>
            <a href="#" class="footer-link">Nos recettes Gourmandes</a>
          </li>

          <li>
            <a href="#" class="footer-link">Nos Fresh Box</a>
          </li>


        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Service de livraison rapide et fiable directement à votre porte.</p>
          </li>

          <li class="footer-item">
            <div class="contact-icon">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="contact-link">
              xhbhbd
            </address>
          </li>

          <li class="footer-item">
            <div class="contact-icon">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:+1800123456789" class="contact-link">kkkk</a>
          </li>

          <li class="footer-item">
            <div class="contact-icon">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="mailto:organica@help.com" class="contact-link">hdyryg</a>
          </li>

        </ul>

        <div class="footer-list">

          <p class="footer-list-title">message</p>

          <p class="newsletter-text">
msg
          </p>

          <form action="" class="footer-form">
            <input type="email" name="email" placeholder="Email Address *" required class="footer-input">

            <button type="submit" class="footer-form-btn" aria-label="Submit">
              <ion-icon name="mail-outline"></ion-icon>
            </button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
           2024 <a href="https://ftamaabchouk-mgwa.onrender.com/cv.html" class="copyright-link">codeavecFatma</a>. 
        </p>

      

      </div>
    </div>

  </footer>
</body>
</html>