<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    <link href="/assests/syles-personnel/header.css" rel="stylesheet">
    <link href="/assests/syles-personnel/index.css" rel="stylesheet">
    <link href="/assests/syles-personnel/footer.css" rel="stylesheet">
    <link href="/assests/syles-personnel/service.css" rel="stylesheet">
    <link href="/assests/syles-personnel/shoppi.css" rel="stylesheet">


   
    
   
  
    <link rel="stylesheet" href="https://unpkg.com/ionicons@5.0.2/dist/css/ionicons.min.css" integrity="...">


</style>
</head>
<body>
  
    
  
    <%- include("header.html",{utilisateur}) %>
    <main>
   
    
      <!-- 
    - - #HERO
  -->

  <section class="section hero" id="home" aria-label="hero" data-section>
    <div class="container">

      <ul class="has-scrollbar">

        <li class="scrollbar-item">
          <div class="hero-card has-bg-image"  >
  
            <img src="/images/thumbnail/logoo.jpg" alt="Description de l'image">
            <div class="card-content">

              <h1 class="h1 hero-title">



             <p class="koffa">القفة</p>
            <p class="offre" > offre des ingrédients frais et irrésistibles, parfaits pour rehausser le goût de vos plats en toute occasion.</p>
</h1>

<p class="price">

À partir de 20 DT
</p>
<a href="#" class="btn btn-primary">Achetez maintenant</a>

</div>
</div>
</li>
<li class="scrollbar-item">
<div class="hero-card2 has-bg-image" >
  <img src="/images/thumbnail/logo2.jpg" alt="Description de l'image">

  <div class="card-content">

    <h1 class="h1 hero-title">

 
      "قفة" offre des ingrédients frais et irrésistibles, parfaits pour rehausser le goût de vos plats en toute occasion.

</h1>

<p class="price">

  À partir de 20 DT
</p>
<a href="#" class="btn btn-primary">Achetez maintenant</a>

</div>
</div>
</li>
<li class="scrollbar-item">
  <div class="hero-card has-bg-image" >
    <img src="/images/thumbnail/logo3.jpg" alt="Description de l'image">
  <div class="card-content">
  <h1 class="h1 hero-title">
  
قفة offre des ingrédients frais et irrésistibles, parfaits pour rehausser le goût de vos plats en toute occasion.
  
  </h1>
  
  <p class="price">
  
    À partir de 20 DT
  </p>
  <a href="#" class="btn btn-primary">Achetez maintenant</a>
  
  
  </div>
  </div>
  </li>

</ul>
</div>
</section>

<%- include("service.html") %>

<%- include("shoppi.html") %>

<div   id="categories-section" class="album py-5 bg-light">
   
  <div class="ui centered container three column grid category-slider">
    <div class="cat">
    <h3 class="categoris" style="font-size: 60px;
    color: black;">Categories</h3></div>
<div class="row categories-list">
  <div class="center aligned colum" id="legumeDiv">
    <a class="card-img-text-box" href="legumes">
      <div class="img-container">
        <img src="images/thumbnail/legumes.png" alt loading="lazy">
      </div>
      <div class="text-box">
        <p class="subtitle">20 offres</p>
        <h5 class="cat-title"> Legumes</h5>
        <p class="text-small"> legumes frais , bio , circuit court..</p>
      </div>
    </a>
  </div>
  
  <script>
    // Ajouter un gestionnaire d'événements au clic sur la div
    document.getElementById("legumeDiv").addEventListener("click", function() {
      // Redirection vers legume.html
      window.location.href = "lgumes";
    });
  </script><div class="center aligned colum" id="fruitsDiv">
  <a class="card-img-text-box" href="fruits">
    <div class="img-container">
      <img src="images/thumbnail/Fruits.png" alt loading="lazy">
    </div>
    <div class="text-box">
      <p class="subtitle">20 offres</p>
      <h5 class="cat-title"> Fruits</h5>
      <p class="text-small"> Fruits frais, bio, circuit court..</p>
    </div>
  </a>
</div>

<script>
  // Ajouter un gestionnaire d'événements au clic sur la div
  document.getElementById("fruitsDiv").addEventListener("click", function() {
    // Redirection vers fruits.html
    window.location.href = "fruits";
  });
</script>

</div>

</div>


      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        

      </div>
      
      </div>
  </div>
</section>



</main>
<%- include("footer.html") %>

    
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body></html>