<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <!-- Inclure le lien vers la bibliothèque Ionicons correctement -->
    <link rel="stylesheet" href="https://unpkg.com/ionicons@6.1.0/dist/ionicons/css/ionicons.min.css"
        integrity="sha384-cmcJuQ/pkYiJ1g1txmLq7TMtm/7cXtkOW5PJX1+t0BoI1cjvj1sWdDxE0bBl8+sdA" crossorigin="anonymous">

    <link href="/assests/syles-personnel/service.css" rel="stylesheet">
    <link href="/assests/syles-personnel/footer.css" rel="stylesheet">
    <link href="/assests/syles-personnel/pannier.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
</head>
<style>
    .total-price-container{
        font-family: fantasy;

    }
    .cart-overview-wrapper {
    display: flex;
    justify-content: flex-end;
      /* Pour aligner à droite */
    /* Pour aligner verticalement au centre */
}

.cart-actions {
    margin-left: 20px; 
    border-left: 1px solid #070707;
    padding-left: 20px;/* Ajouter un espace entre la cart-overview et les actions */
}

    .current-price{
        color: #f5f5f5;
    }
    
    .navigation {
            display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 38px;
    margin-top: 28px;
}

.navigation a,
.navigation button {
    background-color: #f5f5f5;
    color: #ff840e;
    border: none;
    border-radius: 52px;
    padding: 8px 50px;
    cursor: pointer;
    text-decoration: none;/* Ajout pour enlever le soulignement des liens */
}

.navigation a:hover,
.navigation button:hover {
    background-color: #0e6900;
}

.navigation span {
    margin: 0 10px; /* Ajout pour un espacement entre Accueil et Retour */
}
button.commander{
    margin-left: 700px;
    margin-top: 10px;
    background-color: rgb(246 88 7 / 55%);
    font-family: fantasy;
    color: green;

}

</style>
<body>
    <main>
        <h4>Bienvenue, <%= utilisateur.nom %></h4>
        <section id="wrapper">
            <aside id="notifications">
                <div class="container">
                    <!-- Ajoutez ici le contenu de votre aside -->
                </div>
            </aside>
            <div class="container">
                <div class="navigation">
                    <a href="/"><i class="fas fa-home"></i> Accueil</a>
                    <span>|</span>
                    <button onclick="goBack()"><i class="fas fa-arrow-left"></i> Retour</button>
                </div>
                <div id="content-wrapper" class="js-content-wrapper">
                    <section id="main">
                        <div class="cart-grid row">
                            <div class="cart-grid-body col-xs-12 col-lg-8">
                                <div class="mt-3 card cart-container">
                                    <div class="card-block">
                                        <h1 class="h1">Panier</h1>
                                        <div class="cart-overview-wrapper">
                                        <div class="cart-overview js-cart" data-refresh-url="">
                                            <ul class="cart-items">
                                                <% produits.forEach(item => { %>
                                                    <li class="cart-item" data-product-id="<%= item.produit_id %>">
                                                    <div class="product-line-grid">
                                                        <div class="product-line-grid-left col-md-3 col-xs-4">
                                                            <a href="/produit/<%= item.produit_id %>">
                                                                <img src="<%= item.lienThumbnail %>"
                                                                    alt="<%= item.titre %>" />
                                                            </a>
                                                        </div>
                                                        <div class="product-line-grid-body col-md-4 col-xs-8">
                                                            <h5 class="product-title"><%= item.titre %></h5>
                                                            <p class="product-minititre"><%= item.minititre %></p>
                                                        </div>
                                                        <div class="product-line-grid-right col-md-5 col-xs-12" style="    margin-left: -159px;">
                                                            <div class="product-price-container">
                                                                <span class="product-quantity">Quantité: <%= item.quantite %></span>kg ou box </br>
                                                                <span class="product-total-price">Prix total: <%= item.prix_total.toFixed(3)%> DT</span>
                                                                <div class="current-price"><%= item.prix_total.toFixed(3) %> DT</div>
                                                            </div>
                                                            <div class="remove-button-container">
                                                                <button type="button" class="remove-button" onclick="removeCartItem('<%= item.id %>')">Supprimer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                        <div class="cart-actions"> 
                                        <div id="totalPriceContainer" class="total-price-container">Somme totale: 0.00 DT</div>
                                        <button id="commandButton">Commander</button>
                                        <button id="clearCartButton" onclick="clearCart()">Vider le panier</button>
                                        <a href="factures">
                                            <h4>Historique des commandes</h4>
                                          </a>

                                    </div>
                                  
                                </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <div class="navigation">
        <button onclick="goBack()"><i class="fas fa-arrow-left"></i> Continuer mes achats</button>
        </div>
    </main>

    
<%- include("service.html") %>

<%- include("footer.html") %>

<script>
  
        document.getElementById('commandButton').addEventListener('click', function() {
            // Calculer la somme totale
            const totalPrice = calculateTotalPrice();

            // Vérifier si le total est égal à 0.00 DT
            if (totalPrice === '0.00') {
                // Afficher un message indiquant que le panier est vide
                alert('Votre panier est vide.');

                // Rediriger l'utilisateur vers la page legumes.html
                window.location.href = '/';
            } else {
                // Stocker la somme totale dans sessionStorage
                sessionStorage.setItem("totalPrice", totalPrice.toFixed(3));

                // Rediriger l'utilisateur vers la page informations.html
                window.location.href = 'informations';
            }
        });

    // Fonction pour calculer la somme totale des prix des articles
    function calculateTotalPrice() {
        let totalPrice = 0;
        // Sélectionner toutes les balises div avec la classe current-price
        const currentPriceElements = document.querySelectorAll('.current-price');
        // Boucler à travers chaque balise pour récupérer le prix et l'ajouter à la somme totale
        currentPriceElements.forEach(element => {
            // Récupérer le texte à l'intérieur de la balise et convertir en nombre
            const price = parseFloat(element.textContent.replace(' DT', ''));
            // Ajouter le prix à la somme totale
            totalPrice += price;
        });
        // Retourner la somme totale formatée
        return totalPrice;
    }

    // Fonction pour mettre à jour la somme totale affichée
    function updateTotalPrice() {
        // Récupérer la somme totale calculée
        const totalPrice = calculateTotalPrice();
        // Sélectionner l'élément où afficher la somme totale
        const totalPriceContainer = document.getElementById('totalPriceContainer');
        // Mettre à jour le contenu de l'élément avec la somme totale
        totalPriceContainer.textContent = `Somme totale: ${totalPrice.toFixed(3)} dT`;
    }

    // Appeler la fonction pour mettre à jour la somme totale au chargement de la page
    updateTotalPrice();
    function removeCartItem(cartItemId) {
    // Requête AJAX pour supprimer l'article du panier
    fetch('/removeCartItem', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            userId: '<%= utilisateur.id %>',
            cartItemId: cartItemId
        })
    })
    .then(response => {
        if (response.ok) {
            // Actualiser la page pour refléter la suppression
            window.location.reload(); // Cette ligne actualise la page
        } else {
            console.error('Erreur lors de la suppression de l\'article du panier');
        }
    })
    .catch(error => {
        console.error('Erreur lors de la suppression de l\'article du panier :', error);
    });
}
function clearCart() {
    // Requête AJAX pour vider le panier
    fetch('/clearCart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            userId: '<%= utilisateur.id %>'
        })
    })
    .then(response => {
        if (response.ok) {
            // Actualiser la page pour refléter le panier vidé
            window.location.reload();
        } else {
            console.error('Erreur lors de la suppression du panier');
        }
    })
    .catch(error => {
        console.error('Erreur lors de la suppression du panier :', error);
    });
}


</script>
<script>
     function goBack() {
            window.history.back();
        }
</script>
</body>

</html>
