<!-- reset-password.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Ajoutez les balises head nécessaires -->
</head>
<body>
  <main>
    <div>
      <h1>Récupération de mot de passe</h1>
      <form action="/reset-password" method="post">
        <div>
          <label for="email">Adresse e-mail :</label>
          <input type="email" name="email" required>
        </div>
        <button type="submit">Envoyer le code de récupération</button>
        <button type="submit">Annuler</button>
        <a href="connexion">Annuler</a>
      </form>
      <a href="reset-password1" >Envoyer le code par SMS</a>
    </div>
  </main>
</body>
</html>
