<!-- 
  - #SERVICE
-->

<section class="section custom-services">
    <div class="my-container">
  
      <ul class="custom-service-list">
  
        <li class="custom-service-item">
          <div class="custom-item-icon" >
            <img src="/images/thumbnail/service.png" width="150" height="150" loading="lazy" alt="Truck icon">
          </div>
  
          <h3 class="h3 custom-item-title">Livraison gratuite</h3>
        </li>
  
        <li class="custom-service-item">
          <div class="custom-item-icon">
            <img src="/images/thumbnail/payment.png" width="150" height="150" loading="lazy" alt="Payment card icon">
          </div>
  
          <h3 class="h3 custom-item-title">Paiement sécurisé</h3>
        </li>
  
        <li class="custom-service-item">
          <div class="custom-item-icon">
            <img src="/images/thumbnail/24 7.png" width="150" height="150" loading="lazy" alt="Helpline icon">
          </div>
  
          <h3 class="h3 custom-item-title">Support 24/7</h3>
        </li>
  
      </ul>
  
    </div>
  </section>
  