<link href="/assests/syles-personnel/shoppi.css" rel="stylesheet">
<section class="custom-deal-area">
    <div class="custom-container">
        <div class="custom-row">
            <div class="custom-col">
                <div class="custom-deal-area">
                    <ul class="custom-deal-ul">
                        <!-- Premier élément (Fresh Box) -->
                        <li class="custom-deal-li custom-banner">
                            <a href="#" class="custom-banner-image">
                                <img class="custom-img-fluid" src="/images/thumbnail/fresh.jpg" alt="Image Fresh Box" width="455.5" height="668.25">
                            </a>
                            <div class="custom-banner-text1">
                                <h1 class="custom-title1">Fresh Box</h1>
                                <a href="freshbox" class="custom-deal-btn custom-btn-style">Acheter Maintenant</a>
                            </div>
                        </li>

                        <!-- Deuxième élément (Promotion) -->
                        <li class="custom-deal-li custom-deal">
                            <a href="promotion" class="custom-banner-image">
                                <img class="custom-img-fluid" src="/images/thumbnail/promotion.jpg" alt="Image Promotion">
                            </a>
                            <div class="custom-banner-text1">
                                <span class="custom-sub-title">Nos Promotions 30%</span>
                                <h1 class="custom-title1">Offre de la semaine</h1>
  
                                <a href="promotion" class="custom-deal-btn custom-btn-style">Achetez Maintenant</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
