:root{ 


--ff-playfair-display:'playfair Display ',serif;
--fs-4: 1.8rem;}
/* Style pour la section des services */
.custom-services {
   
    background-image: url(../images/partner-left-bg.png);
    background-color:#573F3F;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-blend-mode: soft-light;
}
  .my-container{

    margin-inline:auto ;
    padding-inline:15px ;

  }
  
  /* Style pour la liste des services */
  .custom-service-list {
    min-width: 768px;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 15px;

  }
  
  /* Style pour chaque élément de service */
  .custom-service-item {
    justify-content: center;
    min-width: 480px;
    display: flex;
    align-items: center;
    gap: 10px;

  }
  
  /* Style pour l'icône et le titre */
  .custom-item-icon {
    background-color:#f7711738;
    max-width: max-content;
    padding: 20px;
    border-radius: 50%;/* Espacement entre l'icône et le titre */
  }
  img{
    height: auto;
    display: block;
  }
  
  /* Style pour le titre */
  .custom-item-title {
   color: white;
}
.h3{
  font-family: var(--ff-playfair-display);
  font-size: 30px;
  line-height: 48.75px;
  color: #ff7d00e0;
}
  